[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
# redump.py, dats-site.py, smdb.py
requests = "*"
# no-intro.py
selenium = "*"
# smdb.py
lxml = "*"
# translated-en.py
internetarchive = "*"
# fbneo.py
pygithub = "*"

#retool
psutil = "*"

[requires]
python_version = "3"
