[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
# redump.py, dats-site.py, smdb.py
requests = "*"
# no-intro.py
selenium = "*"
# smdb.py
lxml = "*"
# translated-en.py
internetarchive = "*"
# fbneo.py
pygithub = "*"
#retool
psutil = "*"
retool = {editable = true, ref = "main", git = "git+https://github.com/unexpectedpanda/retool.git"}

[requires]
python_version = "3"
